<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>

    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger-cx/bootstrap.js?v=1"></script>
    <df-messenger
      df-cx="true"
      location="us-central1"
      chat-title="deploybot"
      agent-id="171db86c-b65e-4ace-8bfb-f1173c8683de"
      language-code="en"
    ></df-messenger>

    <div class="wrapper">
      <header class="header">
        {{ partial "nav.html" . }}
      </header>
